<h2>Imginho</h2>
<p>Simple image store</p>

<%= Forme.form(action: '/upload', method: :post, enctype: "multipart/form-data") do |f|
  f.input(:hidden, value: @photo.cached_image_data)
  f.input(:file, name: :image, accept: 'image/*', label: 'image')
  f.input(:text, name: :description, label: 'description')
  f.button(value: 'Upload Image')
end %>
